<html>
<head>

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
  <script src="bower_components/angularjs/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <!-- Vendor specific deps -->
  <script src="app/vendor/common.js"></script>
  <script src="app/vendor/howler.min.js"></script>
  <script src="app/vendor/rdflib.js/rdflib.js"></script>
  <script src="app/vendor/sha256.js"></script>  <!-- App -->
  <script src="app/app.js"></script>

  <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
  <link rel="import" href="bower_components/core-collapse/core-collapse.html">
  <link rel="import" href="bower_components/core-icons/core-icons.html">
  <link rel="import" href="bower_components/core-item/core-item.html">
  <link rel="import" href="bower_components/core-media-query/core-media-query.html">
  <link rel="import" href="bower_components/core-pages/core-pages.html">
  <link rel="import" href="bower_components/core-scaffold/core-scaffold.html">
  <link rel="import" href="bower_components/core-toolbar/core-toolbar.html">
  <link rel="import" href="bower_components/font-roboto/roboto.html">
  <link rel="import" href="bower_components/paper-dropdown/paper-dropdown.html">
  <link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="bower_components/paper-input/paper-input.html">
  <link rel="import" href="bower_components/paper-fab/paper-fab.html">
  <link rel="import" href="bower_components/paper-tabs/paper-tabs.html">
  <script src="bower_components/time-elements/time-elements.js"></script>

  <link rel="import" href="login.html">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>

<body ng-app="wallet" ng-controller="VirtualWallet">
  <core-toolbar class="medium-tall">

    <paper-icon-button icon="menu"></paper-icon-button>
    <div flex>Virtual Wallet</div>
    <paper-icon-button icon="search"></paper-icon-button>
    <paper-icon-button icon="more-vert"></paper-icon-button>

    <div class="bottom fit" horizontal layout>

      <paper-tabs selected="0" flex style="max-width: 600px;">

        <paper-tab>Balance</paper-tab>
        <paper-tab>Pay</paper-tab>
        <paper-tab>Withdraw</paper-tab>

      </paper-tabs>

    </div>

  </core-toolbar>

  <core-pages selected="0">

    <div class="tab-pane active" id="balance">
      <div class="tab-pane active" id="home">
        <form id="create" role="form">
          <div class="form-group">
            <webid-login></webid-login>
            <h2 ng-show=balance>{{balance}} {{currency}}</h2>
          </div>
        </form>

        <div id="history">
          <span id="txmain"></span>
          <table ng-show="tx.length" vocab="https://w3id.org/cc#" class="table table-hover table-mc-light-blue">
            <thead><tr><th>When</th><th>Source</th><th class="gold">Amount</th><th>Why</th></tr></thead>
            <tr ng-repeat="t in tx | orderBy: 'timestamp':true">
              <td><time class="timestamp" is="relative-time" datetime="{{t.timestamp}}"></time></td>
              <td>{{t.counterparty}}</td>
              <td class="{{t.parity}}" style="background-color:#FFFF99" >{{t.amount}}</td>
              <td>{{t.description}}</td>
            </tr>
          </table>
          <span id="txtable"></span>
        </div>
      </div>
    </div>

    <div class="tab-pane" lebel="pay">
      <form id="create" role="form">
        <div class="form-group">
          <span ng-show="friends.length" id="friends"></span>
          <h3>Friends</h3>
          <hr>
          <select id="friendselect"
              ng-model="friend" ng-options="friend as friend.label for friend in friends">
          </select>
          <hr>
          <div class="form-group"><input type="text" id="sendamount" size="80" placeholder="amount" class="form-control"></div>
          <hr>
          <button id="sendbutton" type="button" class="btn btn-default">Send</button>
        </div>
      </form>
    </div>

    <div class="tab-pane" lebel="withdraw">
      <form id="create" role="form">
        <div class="form-group">
          <span id="withdraw"></span>
        </div>
      </form>
    </div>

  </core-pages>


  <!-- detect when window is narrow -->
  <core-media-query id="mediaQuery" query="max-width: 640px"></core-media-query>


  <script>
  // detect when screen is narrow
  document.querySelector('#mediaQuery').addEventListener('core-media-change',
  function(e) {
    document.body.classList.toggle('core-narrow', e.detail.matches);
  });

  // keep tabs in sync
  var tabs = document.querySelector('paper-tabs');
  var pages = document.querySelector('core-pages');

  tabs.addEventListener('core-select',function(){
    pages.selected = tabs.selected;
  });
  document.querySelector('paper-tabs').selected = 0;


  // Event listener for login (from child iframe)
  var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
  var eventListener = window[eventMethod];
  var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";

  // Listen to message from child window
  eventListener('WebIDAuth',function(e) {

    webid = e.detail.user;
    console.log('WebID is : ' + webid);

    if(!webid) return;
    hash = CryptoJS.SHA256(webid).toString();



    setTimeout(function () {
      console.log('refresh');
      angular.element("body").scope().$apply();

    } , 3000);

  });

  </script>


</body>
</html>
